@model XkSystem.Areas.Sys.Models.SysIndex.Login
@{
    ViewBag.TopBar = "Hidden";
}

<style type="text/css">
    body {
        padding-top: 70px;
        padding-bottom: 70px;
        background-color: #f5f5f5;
    }

    .body-content {
        background-color: #f5f5f5;
    }

    .modal-backdrop.in {
        opacity: 0;
    }

    .panel-body {
        height: 200px;
    }

    .panel-footer {
        background-color: #fff;
    }

    .img-circle {
        font-size: 68px;
        color: #fff;
        border: 1px solid;
        width: 130px;
        height: 130px;
        padding-top: 30px;
        margin-top: 20px;
    }

    .typeahead {
        width: 320px;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <nav class="navbar navbar-default navbar-fixed-top" style="background-color: #fff;">
        <div class="container">
            <div class="navbar-header" style="background-color:#4e92e5;">
                <a class="navbar-brand text-center" style="color:#fff; width:250px; font-size:28px; margin: 0px; padding-top: 8px; margin-left:20px;">
                    <img src="~/Content/Images/logo.png" />
                </a>
            </div>
            <h4 class="navbar-text">北京人大附中选课系统</h4>
        </div>
    </nav>
    <div class="container" id="dvBody">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center text-primary">2016年校本选课</h2>
            </div>
        </div>
        <div class="row" style="padding:10px 0px">
            <div class="col-md-4">
                <a href="#" class="btn btn-info btn-block btn-lg" style="height:60px; line-height: 40px">高中学生选课入口</a>
            </div>
            <div class="col-md-4">
                <a href="#" class="btn btn-warning btn-block btn-lg" style="height:60px; line-height: 40px">初中学生选课入口</a>
            </div>
            <div class="col-md-4">
                <a href="#" class="btn btn-success btn-block btn-lg" style="height:60px; line-height: 40px">早培学生选课入口</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default" style="height:500px; overflow:auto">
                    选课说明<br />
                    选课说明<br />
                    选课说明<br />
                    选课说明<br />
                    选课说明<br />
                    选课说明<br />
                    选课说明<br />
                    选课说明<br />
                    选课说明<br />
                    选课说明<br />
                    选课说明<br />
                    选课说明<br />
                    选课说明<br />
                    选课说明<br />
                    选课说明<br />
                    选课说明<br />
                    选课说明<br />
                    选课说明<br />
                    选课说明<br />
                    选课说明<br />
                    选课说明<br />
                    选课说明<br />
                    选课说明<br />
                    选课说明<br />
                    选课说明<br />
                    选课说明<br />
                    选课说明<br />
                    选课说明<br />
                    选课说明<br />
                    选课说明<br />
                    选课说明<br />
                    选课说明<br />
                    选课说明<br />
                    选课说明<br />
                    选课说明<br />
                    选课说明<br />
                    选课说明<br />
                    选课说明<br />
                    选课说明<br />
                    选课说明<br />
                    选课说明<br />
                    选课说明<br />
                    选课说明<br />
                    选课说明<br />
                    选课说明<br />
                    选课说明<br />
                    选课说明<br />
                    选课说明<br />
                    选课说明<br />
                    选课说明<br />
                    选课说明<br />
                    选课说明<br />
                    选课说明<br />
                    选课说明<br />
                    选课说明<br />
                    选课说明<br />
                    选课说明<br />
                    选课说明<br />
                    选课说明<br />
                    选课说明<br />
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $(function ()
    {
        var height = $(window).height() - $("#dvBody").height() - 160;
        $("#dvBody").css("margin-top", (height > 0 ? height : 0) / 2 + "px");
    });
</script>
